*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background: linear-gradient(135deg, #ffffff 0%, #f1f1f1 50%, #cccccc 100%);
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

input {
  font-family: Armino;
}
